@import 'tailwindcss';
@import '$lib/styles/components.css';

@theme {
	--color-primary-50: #ecfdf5;
	--color-primary-100: #d1fae5;
	--color-primary-200: #a7f3d0;
	--color-primary-300: #6ee7b7;
	--color-primary-400: #34d399;
	--color-primary-500: #10b981;
	--color-primary-600: #059669;
	--color-primary-700: #047857;
	--color-primary-800: #065f46;
	--color-primary-900: #064e3b;
	--color-primary-950: #022c22;

	--color-secondary-50: #fff7ed;
	--color-secondary-100: #ffedd5;
	--color-secondary-200: #fed7aa;
	--color-secondary-300: #fdba74;
	--color-secondary-400: #fb923c;
	--color-secondary-500: #f97316;
	--color-secondary-600: #ea580c;
	--color-secondary-700: #c2410c;
	--color-secondary-800: #9a3412;
	--color-secondary-900: #7c2d12;
	--color-secondary-950: #431407;
}

:root {
	color-scheme: dark;
}

body {
	background-color: rgb(3 7 18);
	color: rgb(243 244 246);
}
